@import "base/normalize";

* 
  box-sizing: border-box
  transition: 0.333s ease  

body
  font-family: "Open Sans"
  font-size: 18px
  letter-spacing: 2px
  font-weight: 400
  line-height: 24px
  background-color: #ececec
  transition: 0s

.svg-icon
  width: 1em
  height: 1em

.svg-icon path,
.svg-icon polygon,
.svg-icon rect
  fill: #222

.svg-icon circle
  stroke: #222
  stroke-width: 1  