@import "base/normalize";

* 
  box-sizing: border-box
  transition: 0.333s ease  

body
  font-family: "Open Sans"
  font-size: 18px
  letter-spacing: 2px
  font-weight: 400
  line-height: 24px
  background-color: #ececec
  transition: 0s