.checkbox-label.side-menu-label
  opacity: 1
  position: absolute
  top: 20px
  right: 20px
  .svg-icon
    width: 2em
    height: 2em
    fill: white

.checkbox-label.menu-label
  .svg-icon
    width: 2em
    height: 2em

.checkbox-label.menu-label:after
  content: "ALBUMS"
  position: absolute
  top: 7%
  left: -15%
  width: auto
  height: auto

.checkbox-label.menu-label:hover:after
  left: 5%

#menuCheckbox:checked ~ .side-menu
  left: 0
  box-shadow: 2px 0px 18px 0px rgba(0,0,0,0.5)
