.checkbox-label.search-label
  .svg-icon
    width: 2em
    height: 2em
//   position: absolute
//   top: 20px
//   right: 20px
//   .svg-icon
//     width: 2em
//     height: 2em
    

.checkbox-label.search-label:after
  content: "PESQUISAR"
  position: absolute
  // top: 20%
  // left: -100%
  position: absolute
  top: 7%
  right: -15%
  width: auto
  height: auto

.checkbox-label.search-label:hover:after
  right: 5%

// #searchCheckbox:checked ~ .top-container .top-center-container .top-text-container 
//   left: -100%;

// #searchCheckbox:checked ~ .top-container .top-center-container .top-search-container 
//   left: 0    


#searchCheckbox:checked ~ header .box .box__slider .slider__01
  left: -100%  

#searchCheckbox:checked ~ header .box .box__slider .slider__02
  left: 0    